## Fundametnal Concepts of Python

In [9]:
pow(7,4)

2401

In [10]:
7//4

1

In [4]:
str = "Hi there Sam!"
Splitted= str.split()
Splitted

['Hi', 'there', 'Sam!']


list
l = ["A", 1, 1.1, ("aa"), ["a","b]]
list is a collection of objects.
it can store all data types objects (of python)
it has indexind 0 to n.
it is mutable.

tuple
t=(1,2,"A",["a"],(1,2))
it is collection of object like list.
it is unmutable

dictionry
D={"A":"apple","b":"babana","c":11,"D":[1,2,3]}
it has key value pairs.


set
S={1,2,8,5,"b"}
norderd
unchangable
uniqevalues

In [7]:
p = "Earth"
diameter = 12742
print(f" {p}'s diameter is {diameter}")

 Earth's diameter is 12742

In [11]:
l = ["A", 1, 1.1, ("aa"), ["a","b"]]
t=(1,2,"A",["a"],(1,2))
S={1,2,5,8,"b"}
D={"A":"apple","b":"babana","c":11,"D":[1,2,3]}

In [12]:
print(l[2])
print(t[3])
print(D.items())

1.1
['a']
dict_items([('A', 'apple'), ('b', 'babana'), ('c', 11), ('D', [1, 2, 3])])

In [14]:
l1=[1,2,[3,4],[5,[100,200,"hello"]],[23,11],1,7]
l1[3][1][2]

'hello'

In [16]:
d={'k1':[1,2,3,{'tricy':['oh','man','interception',{'target':[1,2,3,"hello"]}]}]}
d['k1'][3]['tricy'][3]['target'][3]

'hello'

In [17]:
def get_email(mail):
    s = mail.split('@')
    print(s[1])

mail="abcd@gmail.com"
get_email(mail)

gmail.com

In [25]:
def find_dog(x):
    if 'dog' in x:
        return True
    else:
        return False
abc = "There is a dog !"
print(find_dog(abc))

True

In [14]:
ll=["apple","banana","sample","school"]
b=list(filter(lambda x: x[0]=="s", ll))
b

['soup', 'salad']

In [31]:
def ticket(speed):
    birthday = int(input("Enter your birthday date in 'DDMM' format"))
    date = int(input("Enter today's in 'DDMM' format"))
    s=0
    if date == birthday:
        s=5       
    if speed <= 60+s:
        print("No Ticket :)")
    elif speed >= 61+s and speed <=80+s:
        print("Small Ticket :|")
    else:
        print("Big Ticket :(")
    

speed = int(input("Enter your speed"))
ticket(speed)

Enter your speed 61
Enter your birthday date in 'DDMM' format 1111
Enter today's in 'DDMM' format 2222

Small Ticket :|

In [56]:
roll = input("Enter your roll number:- ")
name = input("Enter your name:- ")

p = int(input("Enter your Physics marks:- "))
c = int(input("Enter your Chemistry marks:- "))
m = int(input("Enter your Maths marks:- "))
marks=[p,c,m]

print("\n--------Result---------")
print(f"Roll no:- {roll}")
print(f"Name :- {name}")

if min(marks) <40:
    print("Status:- Failed")
else :
    print("Status:- Passed")  
    
total = sum(marks)
print(f"You got {pr} Marks")
pr = (total/3)
print(f"You got {pr}%")

Enter your roll number:-  11
Enter your name:-  11
Enter your Physics marks:-  234
Enter your Chemistry marks:-  22
Enter your Maths marks:-  3334

--------Result---------
Roll no:- 11
Name :- 11
Status:- Failed
You got 11.0 Marks
You got 1196.6666666666667%

In [48]:
emp_id = input("Enter your Employee id: ")
name = input("Enter your name: ")
base = int(input("Enter your annual salary: "))
exp = int(input("Enter no.of experience in years: "))

hra = base*0.35
da = base*0.58
pf = base*0.095

if exp >= 30:
    bonus=base*0.59
elif exp >= 23:
    bonus=base*0.51
elif exp >= 15:
    bonus=base*0.45
elif exp >= 7:
    bonus=base*0.33
else :
    bonus=base*0.16

net = base+da+hra-pf+bonus

print(f"Your HRA is: {hra}")
print(f"Your DA is: {da}")
print(f"Your PF is: {pf}")
print(f"Your bonus is {bonus}")
print(f"Your Net Salary is: {net}")

Enter your Employee id:  #@11
Enter your name:  Babloo
Enter your annual salary:  123456789
Enter no.of experience in years:  10

Your HRA is: 43209876.15
Your DA is: 71604937.61999999
Your PF is: 11728394.955
Your bonus is 40740740.370000005
Your Net Salary is: 267283948.185

### LIST & DICTIONARY ASSIGMENT

In [58]:

data=[(12345,"Diksha","Dikshar@nuv.ac.in"),(45667,"Jiva","Jiva@nuv.ac.in"),(16789,"Ronit","Ronitd@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]
def get_record(roll):
    found="No record found!"
    for i in data:
        if i[0] == roll:
            found=i
    return found

x = int(input("Enter your roll number: "))
print(get_record(x))

Enter your roll number:  12345

(12345, 'Diksha ', 'Dikshar@nuv.ac.in')

In [65]:
Mydict ={"Enrollment Id" : [12345,45667,16789,69433],
         "Student Name" : ["Diksha","Jiva","Ronit","Heena"], 
         "Email Id": ["Dikshar@nuv.ac.in","Jiva@nuv.ac.in","Ronitd@nuv.ac.in","Heena@nuv.ac.in"]}
def get_recordd(name):
    found="No record found!"
    if name in Mydict["Student Name"]:
        i=Mydict["Student Name"].index(name)
        found = (f"Roll no :- {Mydict["Enrollment Id"][i]}\nName :- {name}\nEmail: {Mydict["Email Id"][i]}")      
    return found

x = input("Enter you name: ").lower().capitalize()
print(get_recordd(x))

Enter you name:  diksha

Roll no :- 12345
Name :- Diksha
Email: Dikshar@nuv.ac.in

In [83]:
data=[(12345,"Diksha","Dikshar@nuv.ac.in"),(45667,"Jiva","Jiva@nuv.ac.in"),(16789,"Ronit","Ronitd@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]
def convert(Data):
    dict1={"Enrollment id":[],"Name":[],"Email":[]}
    for i in Data:
        dict1["Enrollment id"].append(i[0])
        dict1["Name"].append(i[1])
        dict1["Email"].append(i[2])
    return dict1    
    
import pandas as pd 
df = pd.DataFrame.from_dict(convert(data))
df

   Enrollment id    Name              Email
0          12345  Diksha  Dikshar@nuv.ac.in
1          45667    Jiva     Jiva@nuv.ac.in
2          16789   Ronit   Ronitd@nuv.ac.in
3          69433   Heena    Heena@nuv.ac.in